* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;

}

.title {
  text-decoration: none;
  display: flex;
  position: relative;
  top: -220px;
  left: -200px;
  margin-right: 20px;
  margin-left: 40px;
}

.main{
  text-decoration: none;
  color: wheat;
  display: flex;
  padding-right: 30px;
  font-size: 15px;
}

.inp{
  border-radius: 5px;
  outline-style: none;
}

.tit{
  position: relative;
  top: -350px;
  text-align: center;
  justify-content: center; 
  margin-bottom: 0px;
}

.para{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  text-align: center;
  align-items: center;
  transition-delay: 1s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
.head{
  opacity: 0;
}

.para , .head{
  animation-name: fadeIn;
  animation-duration: 1s; 
  animation-delay: 0.5s;   
  animation-fill-mode: forwards;
}